@import url('https://fonts.googleapis.com/css?family=Quicksand');

@media only screen and (max-width: 925px) {
body{
    min-width:100%
    align:center;
    margin:0;
    padding: 0;
}
    wrapper{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: grid;
    min-height:100%;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "header"
        "content"
}
html{
    font-family: 'Quicksand', sans-serif;
    min-width:100%;
    min-height:100%;
    align:center;
}

nav{
    display:inline;
    width: 100%;
    height:100%;
    padding:0;
    margin:0;
    background-color: #9EE493;
}
header{
 grid-area:header;
    background-color: #9EE493;
    margin:0px;
    padding:0;
    padding-bottom: 10px;
    width:100%;
    border-bottom: 1px solid #9EE493;
}
.especial{
     text-align:center;
     }
textarea{
 width:70%;
 height:100%;
 margin:20px;
}

nav a{
    text-decoration: none;
    color: white;
    padding:10px;
   padding-bottom:30px;
    width: 100%;
    border-top: 2px solid white;

}
.especial h1{
padding-bottom:10px;
border-bottom: 3px solid;}
a h1{
    text-decoration: none;
    font-weight:normal;
    font-size: 2em;
    color: white;
    width:100%;
    margin:none;
    padding:none;
    display:block;
}
h2{
    color:#70566D;
}
h1{
    color: #9EE493;
}
h3{
    color: #272727;
}
a h2{
    color: #336699;
    text-decoration: none;
}
a h3{
    color: #336699;
    text-decoration: none;
}

a{
    color: #336699;
    text-decoration: none;
}
#buttonholder{
     height: 50%;
    display:block;

}
#content{
    grid-area:content;
    width:100%;
}
.button{
    padding: 20px 30px;
    color: #9EE493;
    text-decoration:none;
    width:100%;
    font-size: 2em;

}
p{

}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style:none;

}
#essay{
    width:100%;
    min-height:100%;
    text-align:center;
    display: block;
}
#editpls{
    border-bottom: 1px solid #ABC8C0;
    overflow: auto;
}
#blank{
}
#show{
    padding:30px;
    text-align:left;
    max-width:300px;
}
#wow{

    text-align:left;
    display:block;
}
#content{
}
pre{
    white-space: pre-wrap;
}
#bois{
    min-height:100%;
    text-align:center;
    display: grid;
    grid-area-template: "bestbois"
                          "you" ;
    grid-template-columns:  100%;
    grid-template-rows: 50% 50%;
}
#bestbois{

}
}












@media only screen and (min-width: 926px) {
body{
    min-width:100%
    align:center;
    margin:0;
    padding: 0;
}
    wrapper{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: grid;
    min-height:100%;
    width: 90%;
    margin-right:5%;
    margin-left:5%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-gap: 10px;
    grid-template-areas: "header"
        "content"
}
html{
    font-family: 'Quicksand', sans-serif;
    min-width:100%;
    min-height:100%;
    align:center;
}
nav{
    display:inline;
    width: 100%;
    height:100%;
    border-bottom: 5px solid #9EE493;
    padding-bottom: 10px;
}
header{
}
.especial{
     margin: 100px; border: 5px solid #9EE493; border-radius: 45px; padding: 30px; background-color:white;
}
textarea{
 width:70%;
 height:100%;
 margin:20px;
}

nav a{
    text-decoration: none;
    padding: 30px;
    padding-top:30px;
    display:inline;
    color: #9EE493;

}

a h1{
    text-decoration: none;
    font-weight:normal;
    font-size: 2em;
    display:inline;
    color: #9EE493;
}
h2{
    color:#70566D;
}
h1{
    color: #9EE493;
}
h3{
    color: #272727;
}
a h2{
    color: #336699;
}
a h3{
    color: #336699;
}
a{
    color: #336699;
}
#buttonholder{
     margin: 20px;
     padding:20px;
     height: 50%;


}
.button{
    margin: 20px;
    padding: 20px 30px;
    background-color:#9EE493;
    border-radius:10px;
    color: white;
    text-decoration:none;

}
p{

}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style:none;

}
#essay{
    min-height:100%;
    text-align:center;
    display: grid;
    grid-area-template: "editpls"  "show"  "blank";
    grid-template-columns:  25% 50% 25%;
    grid-template-rows: 100%;
    grid-gap: 10px;
    margin: 20px;
}
#editpls{
    border-right: 1px solid #ABC8C0;
}
#show{
    text-align:left;
    overflow:auto;
}
#wow{
    width:100%;
    text-align:left;
    padding: 30px;
    overflow:auto;
}
#content{
    margin-left:40px;
    margin-right:40px;
}
#bois{
    min-height:100%;
    text-align:center;
    display: grid;
    grid-area-template: "bestbois"  "you" ;
    grid-template-columns:  50% 50%;
    grid-template-rows: 100%;
    grid-gap: 10px;
    margin: 20px;
}
pre{
    white-space: pre-wrap;
}

#bestbois{

}
}
