<!DOCTYPE html>
<html>
    <head>
        <title>Edit My Paper Pls - Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
<body>
    <header>
        <nav>
            <a href="/"> <h1>Edit My Paper Pls</h1> </a>
            <a href="/activity"> My Activity </a>
            <a href="/edit"> Edit </a>
            <a href="/upload"> Upload </a>
        </nav>
    </header>
    <div id="content">
        <h2>My Activity</h2>
        <h3>Notifications</h3>
            {% if essayEdited %}
                <a href="/myessays">Your Essay has been edited!</a>
            {% if morePoints %}
                <p>You have gained {{numAddPoints}}! </p>
            {% else %}
                <p> No notifications to display.</p>
        <a href="/myessays"> <h3>Your Essays</h3> </a>
        <a href="/myedits"> <h3>Your Edits</h3> </a>
    </div>
    </body>
</html>