
{% extends "layout.html" %}
{% block page %}Essay{% endblock %}
{% block content %}
<div id="essay">
    <div id="editpls">
         <ul>
        {% for edit in edits %}
        <li> <a href="" id="{{edit['author']}}" onclick="showedit">{{edit['author']}}</a> </li>
        {% endfor %}
             <li><a href="">Edit</a></li>
    </ul>
    </div>
    <div id="show">
        <div id="wow">
            <h2>{{essay["title"]}}</h2>
            <h3>{{essay["author"]}}</h3>
             <div>
            <pre>{{essay["contents"]}}</pre>
             </div>
        </div>

    </div>
    <div id="blank"></div>

</div>

{% endblock %}
