
{% extends "layout.html" %}
{% block page %}Essay{% endblock %}
{% block content %}
<div style="display: inline-block;">
    <div style="width=70%;">
        <h2>{{essay["title"]}}</h2>
        <h3>{{essay["author"]}}</h3>
        <div>
            <p>{{essay["contents"]}}</p>
        </div>
    </div>
    <div style="width=30%;">
         <ul>
        {% for edit in edits %}
        <li> <a href="" id="{{edit['author']}}" onclick="showedit">{{edit['author']}}</a> </li>
        {% endfor %}
    </ul>
    </div>
</div>

{% endblock %}
