{% extends "layout.html" %}
{% block page %}Home{% endblock %}
{% block content %}
<h2>Welcome {{name}}!</h2>
<div id="bois">
    <div id="bestbois">
        <h3>Featured Editors</h3>
         {% for user in best %}
            <p> {{user['name']}} with {{user['points']}} points</p>
            {% endfor %}

    </div>
    <div id="you">
            <h3>Your Info</h3>
            <p>Total Points: {{mypoints}}</p>
            <p>Essays Submitted: {{numessays}}</p>
            </div>
</div>

{% endblock %}
