<!DOCTYPE html>
<html>
    <head>
        <title>Edit My Paper Pls - Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/"> <h1>Edit My Paper Pls</h1> </a>
                <a href="/activity.html"> My Activity </a>
                <a href="/edit.html"> Edit </a>
                <a href="/upload.html"> Upload </a>
            </nav>
        </header>

        <content>
            <h2>Welcome {{name}}!</h2>
            <h3>You have {{num-notifications}} notifications.</h3>
            <p>Total Points: {{my-points}}</p>
            <p>Essays Submitted: {{num-essays}}</p>
        </content>
    </body>
</html>