<!DOCTYPE html>
<html>
    <head>
        <title>Edit My Paper Pls - Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
<body style="background-image:url('/static/img/bg.jpg'); background-size:100%;">
    <div style="margin: 100px; border: 5px solid white; border-radius: 45px; padding: 100px; background-color:white; opacity:.5; background-blend-mode: luminosity;">
        <div>
        </div>
        <h1>Edit My Paper Pls</h1>
        <h2>Need help with an essay? Need an essay to help with? Look no further.</h2>
        <div>
            <a class ="button" href="login">Login</a>
            <a class ="button" href="signup">Sign Up</a>
        </div>
    </div>
</body>

</html>