<!DOCTYPE html>
<html>
    <head>
        <title>Edit My Paper Pls</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <div class="especial">
        <div style="margin:10px;">
            <h1>Edit My Paper Pls</h1>
        <h2>Need help with an essay? Need an essay to help with? Look no further.</h2>
        </div>

        <div id="buttonholder">
            <a class ="button" href="/login">Login</a>
            <a class ="button" href="/signup">Sign Up</a>
        </div>
    </div>

</body>

</html>