<!DOCTYPE html>
<html>
    <head>
        <title>Edit My Paper Pls - Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
<header>
    <a href="/"> <h1>Edit My Paper Pls</h1> </a>
            <a href="/activity"> My Activity </a>
            <a href="/edit"> Edit </a>
            <a href="/upload"> Upload </a>
            <a href="/logoff"> Logout </a>
</header>

<div>
    <p>{{name}}</p>
    <p>Points: {{numpoints}}</p>
</div>
</html>