<!DOCTYPE html>
<html>
    <head>
        <title>Edit My Paper Pls - Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
<body>
<div class="especial">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
    <br/>Username:
    <input type="text" name ="username">
    <br/>Password:
    <input type="password" name ="password">
        <br/>
        Confirm Password:
        <input type="password" name ="password">
        <br/>
        <input type="submit" name = "submit" >
    </form>
</div>

</body>

</html>