<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<header>
        <nav>
            <a href="/"> <h1>Edit My Paper Pls</h1> </a>
            <a href="/activity"> My Activity </a>
            <a href="/edit"> Edit </a>
            <a href="/logoff"> Logout </a>
        </nav>
</header>
<body>
    <h2>Upload</h2>
    <div class="content">
        <p>Title:</p>
        <input type="text" placeholder= "title" name="title" form="uploadform">
        <br/>
        <textarea name= "content" placeholder="Copy paste your essay in plain text here..." form="uploadform">

        </textarea>
        <form action="/upload" id="uploadform" method="POST">
            <input type="submit" name = "submit">
        </form>

    </div>

</body>
</html>